section {
    display: flex;
}

body {
    text-align: center;
}

div {
    color: black;
    background-color: rgb(255, 125, 0);
    width: 28.5%;
    height: 500px;
    margin-left: 1%;
    text-align: justify;
    padding: 30px;
} div h2 {
    text-align: center;
}